# Data Science Tools and Ecosystem

## Author
Ramses Alejandro Miam Su√°rez

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

+ List popular languages for Data Science
+ Lits libraries commonly used by data scientists
+ List popular Data Science Tools
+ Show examples of arithmetic expressions in python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas (Python)
2. Numpy (Python)
3. Matplotlib (Python)
4. Scikit-learn (Python)
5.  ggplot2 (R)

|Data Science Tools|
|-------------------|
|Jupyter notebooks|
|Spyder|
|Rstudio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [7]:
# This a simple arithmetic expression to mutiply then add integers (3, 4 and 5):
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60
hours = 200/60
print(hours)

3.3333333333333335